$coral: #f3835c;
$bg-gray: #f7f7f7;
$highlight-gray: darken($bg-gray, 10%);

.goal-category {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  border: 10px solid $coral;
  border-radius: 10px;
}

.goals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-goal-btn {
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  &:hover {
    background: $coral;
  }
}

.add-goal-form {
  margin: 10px 30px;
  padding: 5px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  border: 1px solid $highlight-gray;
  border-radius: 4px;
}